/* body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

.header {
    align-self: auto;
}

.fixed-top {
    position: sticky;
}

.navbar-brand {
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    /* font-weight: 600; */

/* 
.jumbotron {
    height: 70vh;
} */

/* #billboard {
    margin-top: 60px;
}

#main-header {
    width: 100%;
    height: 100%;
}

.port-item {
    width: 20%;
}


.port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.fa {
    font-size: 2em;
}

@media(min-width:1199px){
    .port-item{
        padding: 3em !important;
    }
}

#tabbed-content li {
    display: inline-block;
    padding: 10px 50px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    
}

#tabbed-content .panel {
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}

#tabbed-content .panel.active {
    display: block;
}

button {
    background: #9361bf;   
}  */




